body {
  font-family: 'Slabo 27px', serif;
}

input {
  max-width: 100%;
}

.green {
  background-color: #756A48;
  color: white;
  padding: 2%;
}

.yellow {
  background-color: #E1AF43;
}

.gray {
  background-color: #282828;
  color: white;
}

.white {
  background-color: #E1EAEA;
}

.red {
  background-color: #CE4E34;
  color: white;
}

.black {
  background-color: #39393E;
  color: white;
}

.navbar-nav {
  background-color: #756A48;
}

.iconic > img{
  height: 300px;
}

.col-centered {
  float: none;
}

.nav-links > span {
  vertical-align: bottom;
}
